{% extends "base.html" %}

{% block content %}
  {% if errors %}
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {% if 'invalid_username' in errors %}
    <p><strong>Warning!</strong> Invalid or missing username. Please provide a new username.</p>
    {% elif 'invalid_email' in errors %}
    <p><strong>Warning!</strong> Invalid or missing email address. Please provide your email address. It will never be shared.</p>
    {% elif 'invalid_token' in errors %}
    <p><strong>Warning!</strong> Invalid or inactive invite token. Please try again and contact your team lead if the problem persists.</p>
    {% elif 'invalid_languages' in errors %}
    <p><strong>Warning!</strong> Invalid or missing language selection. Please choose at least one target language for evaluation.</p>
    {% else %}
    <p><strong>Warning!</strong> Something bad happened. Please try again.</p>
    {% endif %}
  </div>
  {% endif %}

  <div class="page-header">
    <h1>Sign up for METEVAL</h1>
    <p>Please enter your desired username, your email address. Then, tell us which target languages you can evaluate.</p>
    
    <div class="panel panel-primary" style="margin-top: 20px;">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Disclaimer</strong></h3>
      </div>
      <div class="panel-body">
        <p>Several information are collected in this experiment: an username and a personal email address (both required to sign-up with Appraise), but also the annotations you made. While your email address will be added to a draw to win an Amazon voucher worth 50GBP, only the annotations you made will be used in future research. <strong>Both your username and email address will be discarded once the experiment is done.</strong></p>
        <p><strong>Note:</strong> After submitting this form you will be redirected to the front page. If successful you will be automatically logged into a new browser session. No confirmation message will be shown.</p>
      </div>
    </div>
  </div>
  <form class="form-horizontal" method="post" action="{% url appraise.meteval.views.signup %}">
  {% csrf_token %}

    <div class="form-group">
      <label for="id_username" class="col-sm-4 control-label">Username</label>
      <div class="col-sm-4">
        <div class="input-group">
          <div class="input-group-addon">required</div>
          <input class="form-control" name="username" id="id_username" type="text" size="30" value="{% if username %}{{username}}{% endif %}" aria-describedby="helpUsername" />
        </div>
        <span id="helpUsername" class="help-block">Please enter your desired username (will be discarded after the experiment)</span>
      </div>
    </div>

    <div class="form-group">
      <label for="id_email" class="col-sm-4 control-label">Email</label>
      <div class="col-sm-4">
        <div class="input-group">
          <div class="input-group-addon">required</div>
          <input class="form-control" name="email" id="id_email" type="text" size="30" value="{% if email %}{{email}}{% endif %}" aria-describedby="helpEmail" />
        </div>
        <span id="helpEmail" class="help-block">Please enter a valid email address.<br />Note: used as your <strong>default password</strong>, it will be discarded after the experiment.</strong></span>
      </div>
    </div>

    <!--    
    <div class="form-group">
      <label for="id_token" class="col-sm-4 control-label">Token</label>
      <div class="col-sm-4">
        <div class="input-group">
          <div class="input-group-addon">required</div>
          <input class="form-control" name="token" id="id_token" type="text" size="30" value="{% if token %}{{token}}{% endif %}" aria-describedby="helpToken" />
        </div>
        <span id="helpToken" class="help-block">And also provide your invite token</span>
      </div>
    </div>
    -->

    <!--    
    <div class="form-group">
      <label for="id_projects" class="col-sm-4 control-label">Projects</label>
      <div class="col-sm-4">
        <div class="input-group">
          <div class="input-group-addon">required</div>
          <select class="form-control" name="projects" id="id_projects" multiple="multiple">
          {% for project in project_choices %}
            <option {% if project in project_status %}selected="selected"{% endif %}value="{{project}}">{{project}}</option>
          {% endfor%}
          </select>
        </div>
        <span id="helpProjects" class="help-block">Which annotation projects will you work on?</span>
      </div>
    </div>
    -->

    <div class="form-group">
      <label for="id_languages" class="col-sm-4 control-label">Languages</label>
      <div class="col-sm-4">
        <div class="input-group">
          <div class="input-group-addon">required</div>
          <select class="form-control" name="languages" id="id_languages" multiple="multiple">
            <option {% if '2ces' in languages %}selected="selected"{% endif %}value="2ces">Czech (Čeština)</option>
            <option {% if '2deu' in languages %}selected="selected"{% endif %}value="2deu">German (Deutsch)</option>
            <option {% if '2eng' in languages %}selected="selected"{% endif %}value="2eng">English</option>
          </select>
        </div>
        <span id="helpLanguages" class="help-block">Which target languages will you evaluate?</span>
      </div>
    </div>

    <div class="form-group">
      <label for="id_agreements" class="col-sm-2 control-label">Agreements</label>
      <div class="col-sm-8">
    <input type="checkbox" class="col-sm-offset-4 btn btn-primary" name="datacollection"> I agree for the annotations made by me to be used in future research (both my username and email address will be discarded after the experiment). (required)<br />
    <input type="checkbox" class="col-sm-offset-4 btn btn-primary" name="participationagreement"> I understand that my participation is voluntary and that I am free to withdraw at any time without giving any reason and has no negative consequences. (required)<br />
    <input type="checkbox" class="col-sm-offset-4 btn btn-primary" name="globalagreement"> I agree to take part in the above research. (required)<br />
    <br />
      </div>
    </div>

    <button type="submit" class="col-sm-offset-4 btn btn-primary">Sign up</button>

  </form>
{% endblock %}

{% block actions %}
    <script>
  {% if focus_input %}
      // Set focus to given input
      $('#{{ focus_input }}').focus();
  {% else %}
      // by default, set focus on username input
      $('#id_username').focus();
  {% endif %}
    </script>
{% endblock %}
