{% extends "base.html" %}

{% block content %}
{% if message %}
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p><strong>Please note:</strong> {{message}}</p>
  </div>
{% endif %}

  <div class="jumbotron">
    <h1><strong>Welcome!</strong></</h1>
    <h3><strong>This is Appraise, an open-source system for manual evaluation of MT output</strong></h3>

    <div class="panel panel-primary" style="margin-top: 20px;">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>METEVAL</strong></h3>
      </div>
      <div class="panel-body">
        <p><small>
          Dear colleague, the objective of this experiment is to compare translations produced by different Machine Translation approaches.
          The data you will be given consists of English into/from German/Czech sentences. 
          Your task is to rank the list of translation candidates (may vary from 2 to 5) from the best to the worse given the source sentence and a reference translation both highlighted in boldface.
        </small></p>
      </div>
    </div>

    <div class="col-md-12 col-md-offset-1">
      <div class="col-md-5">
        <a class="btn btn-default btn-lg btn-block" href="{% url appraise.meteval.views.overview %}" role="button">Access METEVAL &raquo;</a>
      </div>
      <div class="col-md-5">
        <a class="btn btn-primary btn-lg btn-block" href="{% url appraise.meteval.views.signup %}" role="button">Sign up for METEVAL &raquo;</a>
      </div>
    </div>
    
    <div>&nbsp;</div>
  </div>
{% endblock %}
